@import reset.sass

body
  :background #FFFFFF
  :font-family Georgia, "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, times, "Times New Roman", sans-serif
  
#header
  :width 260px
  :position fixed
  :top 3%
  :left 0
  :height 94%
  :padding 0 20px
  :border-right 2px solid #C4C4C4
  
  .menu
    :margin-top 50px
    li 
      :padding 5px 0
      a
        :color #2A2A2A
        :text-decoration none
        :font-size 1.2em
        &:hover
          :text-decoration underline
      
  h1.title
    :font-size 2.5em
    a
      :color #000
      :text-decoration none
      
  h2.strap
    :font-size 1.2em
    :color #898989
    :font-style italic
    :margin-bottom 10px
  
  p
    :font-size 1em
    :margin-bottom 5px
    
  p.telephone
    :color #B5B5B5
    
  p.email
    a
      :color #5ACFF8
      
  .twitter
    :background #DAECF8
    :padding 10px
    :margin-top 40px
    :position absolute
    :width 240px
    :bottom 0
    h2
      :color #82CCCE
      :margin-bottom 10px
    p.tweet
      :color #185F74
    p.meta
      :color #72B3B4
      :font-size .8em
      :font-style italic
      a
        :color #72B3B4
    
#content
  :position absolute
  :top 3%
  :left 300px
  :height 94%
  :width 600px
  :padding 0 20px

  h1.soon
    :text-align center
    :font-size 4em
    :color #E7E7E7
    :margin-top 35%