html { color: #000; background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }

li { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

q:before, q:after { content: ''; }

abbr, acronym { border: 0; font-variant: normal; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }

input, textarea, select { *font-size: 100%; }

legend { color: #000; }

del, ins { text-decoration: none; }

.clearfix { *display: inline-block; }
.clearfix:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }

body { background: #FFFFFF; font: .8em Georgia, "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, times, "Times New Roman", sans-serif; }
body ul { margin: 10px 0 20px 0; padding: 0 20px; }
body ul, body li { list-style: circle inside; }
body .admin_links { *display: inline-block; margin-top: 10px; padding: 0; }
body .admin_links:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
body .admin_links ul, body .admin_links li { list-style: none; }
body .admin_links li { float: left; border-right: 1px solid #DFDFDF; padding: 5px; }
body a { color: #5ACFF8; }
body h1 { font-size: 2.2em; color: #434343; margin: 0 0 10px 0; }
body h2 { font-size: 1.8em; margin: 0 0 10px 0; }
body h1 em, body h2 em { font-size: .5em; }
body h1 em a, body h2 em a { color: #BFBFBF; text-decoration: none; }
body p { margin-bottom: 10px; color: #474747; }

#header { width: 170px; position: fixed; top: 20px; left: 0; height: 94%; padding: 0 20px; border-right: 1px solid #D8D8D8; }
#header .menu { margin-top: 15px; padding: 0; }
#header .menu li { padding: 2px 0; list-style: none; margin: 0; }
#header .menu li a { color: #2A2A2A; text-decoration: none; font-size: 1.2em; }
#header .menu li a:hover { text-decoration: underline; }
#header h1.title { font-size: 3em; text-indent: -9999em; height: 138px; width: 110px; background: url(../images/logo.jpg) center; margin: 0 0 10px 0; }
#header h1.title a { display: block; height: 138px; width: 110px; color: #000; text-decoration: none; }
#header h2.strap { font-size: 1.2em; color: #898989; font-style: italic; margin-bottom: 10px; }
#header p { font-size: 1.1em; margin-bottom: 5px; }
#header p.telephone { color: #B5B5B5; }
#header .twitter { background: #DAECF8; padding: 10px; margin-top: 40px; position: absolute; width: 150px; overflow: hidden; bottom: 0; }
#header .twitter h2 { color: #82CCCE; margin-bottom: 10px; }
#header .twitter p.tweet { color: #185F74; font-size: .9em; }
#header .twitter p.meta { color: #72B3B4; font-size: .8em; font-style: italic; }
#header .twitter p.meta a { color: #72B3B4; }

#content { margin-left: 210px; padding: 20px; width: 650px; *display: inline-block; }
#content:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }

form .field { padding: 10px; border-bottom: 1px solid #CDCDCD; *display: inline-block; }
form .field:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
form .field label { float: left; width: 140px; }
form .field input, form .field textarea { border: 1px solid #DDDDDD; width: 250px; padding: 5px; }
form .field textarea.wysiwyg { width: 400px; }
form .field .element { float: left; }
form .buttons { padding: 10px 10px 10px 150px; }

.errorExplanation { background: #FAE4E4; padding: 10px; border-bottom: 1px solid #F3BDBC; }
.errorExplanation h2 { color: #84140F; }
.errorExplanation p { font-size: 1em; color: #1D1D1D; font-weight: bold; }
.errorExplanation ul { padding: 2px 10px; }
.errorExplanation ul li { padding: 2px 0; color: #3F4043; }

#recent_work { width: 149px; float: left; margin: 0 0 0 20px; padding: 0 0 0 20px; border-left: 1px solid #E0E0E0; }
#recent_work h2 { font-size: 1.5em; }
#recent_work ul { *display: inline-block; margin: 0; padding: 0; }
#recent_work ul:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
#recent_work ul li { position: relative; list-style: none; padding: 0; overflow: hidden; height: 130px; float: left; margin: 0 10px 10px 0; }
#recent_work ul li a, #recent_work ul li a img { display: block; height: 130px; }
#recent_work ul li p { position: absolute; bottom: 0; left: 0; margin: 0; background: #000; color: #D5D5D5; padding: 4px; opacity: 0.6; -moz-opacity: 0.6; }

#recent_posts { width: 460px; float: left; }

#image_slider { width: 100%; overflow: hidden; }
#image_slider .image { float: left; margin: 5px; height: 400px; overflow: hidden; }

.image { position: relative; }
.image h3 { background: #F7F7F7; padding: 8px; font-size: 1.2em; }
.image h3 a { color: #767676; text-decoration: none; }
.image p.description { display: none; position: absolute; bottom: 0; background: #000; padding: 8px; margin: 0; color: #DFDFDF; }
.image:hover p.description { display: block; }

.image_medium { width: 300px; }

.image_large { width: 600px; }
.image_large p.description { display: block; top: 0; bottom: auto; right: -166px; width: 150px; background: #F0F0F0; color: #6D6D6D; font-size: .9em; }

.post { margin-bottom: 10px; padding: 0 0 10px 0; border-bottom: 1px solid #E7E7E7; }
.post h2.title { *display: inline-block; margin: 0; position: relative; }
.post h2.title:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
.post .meta { color: #C5C5C5; font-size: 1.1em; margin: 0; }
.post .body { margin: 10px 0 0 0; }
.post ul.admin_links { margin-bottom: 0 !important; }

.flash { padding: 5px; }
.flash p { color: #fff; font-weight: bold; margin: 0; }

.flash_error { background: #CB0011; }

.flash_success { background: #41BA11; }
