html { color: #000; background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }

li { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

q:before, q:after { content: ''; }

abbr, acronym { border: 0; font-variant: normal; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }

input, textarea, select { *font-size: 100%; }

legend { color: #000; }

del, ins { text-decoration: none; }

.clearfix { *display: inline-block; }
.clearfix:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }

body { background: #FFFFFF; font: .8em Georgia, "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, times, "Times New Roman", sans-serif; }

#header { width: 260px; position: fixed; top: 3%; left: 0; height: 94%; padding: 0 20px; border-right: 2px solid #C4C4C4; }
#header .menu { margin-top: 30px; }
#header .menu li { padding: 5px 0; }
#header .menu li a { color: #2A2A2A; text-decoration: none; font-size: 1.2em; }
#header .menu li a:hover { text-decoration: underline; }
#header h1.title { font-size: 3em; text-indent: -9999em; height: 138px; width: 110px; background: url(../images/logo.jpg) center; margin: 0 0 10px 0; }
#header h1.title a { display: block; height: 138px; width: 110px; color: #000; text-decoration: none; }
#header h2.strap { font-size: 1.2em; color: #898989; font-style: italic; margin-bottom: 10px; }
#header p { font-size: 1.1em; margin-bottom: 5px; }
#header p.telephone { color: #B5B5B5; }
#header p.email a { color: #5ACFF8; }
#header .twitter { background: #DAECF8; padding: 10px; margin-top: 40px; position: absolute; width: 240px; bottom: 0; }
#header .twitter h2 { color: #82CCCE; margin-bottom: 10px; }
#header .twitter p.tweet { color: #185F74; }
#header .twitter p.meta { color: #72B3B4; font-size: .8em; font-style: italic; }
#header .twitter p.meta a { color: #72B3B4; }

#content { position: absolute; top: 3%; left: 300px; height: 94%; width: 700px; padding: 0 20px; }
#content h1 { font-size: 2.2em; color: #434343; margin: 10px 0; }
#content h2 { font-size: 1.8em; margin: 0 0 10px 0; }
#content p { margin-bottom: 10px; color: #474747; }

form .field { padding: 10px; border-bottom: 1px solid #CDCDCD; *display: inline-block; }
form .field:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
form .field label { float: left; width: 140px; }
form .buttons { padding: 10px 10px 10px 150px; }

.errorExplanation { background: #FAE4E4; padding: 10px; border-bottom: 1px solid #F3BDBC; }
.errorExplanation h2 { color: #84140F; }
.errorExplanation p { font-size: 1em; color: #1D1D1D; font-weight: bold; }
.errorExplanation ul { padding: 2px 10px; }
.errorExplanation ul li { padding: 2px 0; color: #3F4043; }

.admin_links { *display: inline-block; margin-top: 10px; }
.admin_links:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
.admin_links li { float: left; border-right: 1px solid #DFDFDF; padding: 5px; }

#recent { margin-top: 15px; padding-top: 15px; border-top: 1px solid #EAEAEA; }
#recent ul { *display: inline-block; padding: 10px 0 0 10px; }
#recent ul:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
#recent ul li { float: left; margin: 0 10px 10px 0; }
