%h1 About

%p
  My name is Tom Lambert and as of June 2009 I will be a graduate of 
  BA (Hons) Graphic Design: New Media at UCA Epsom. I am an illustrator 
  and graphic designer with a love for all things visual. 
  
%p
  My work is inspired by: Music, old records, turntables, sneakers, 
  Swiss design, graffiti, letterpress, Trees, carving stuff into 
  trees, making things out of trees and other things, making something 
  out of nothing, fashion and typography. Ray Charles and Charles &amp; Ray. 
  Pens and Pencils. You get the idea!

%p
  Please feel free to #{link_to('contact me', new_contact_path)} with any commissions, 
  collaborations or just to say hello!