%h1 Welcome to TOLA

#recent
  %h2 
    Recent Work
    - if authorised?
      %em= link_to '(Add Work)', new_image_path
  %ul
    - @recent_work.each do |image|
      %li
        = link_to(image_tag(image.upload.url(:thumb)), image_path(image))
        %p= truncate image.title, :length => 50
  