%h1 Create News Post

= error_messages_for :post

- form_for(:post, :url => objects_url) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p.buttons= f.submit "Create"

%ul
  %li= link_to 'Back', objects_path
